.list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.suggestion {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  align-self: center;
}
.arrow-icon {
  height: 20px;
  width: 20px;
  align-self: center;
}
